@model IEnumerable<MyNIBSS.Core.Models.CustomerAccount>

@{
    ViewBag.Title = "View All Customer Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MyNIBSS.Core.Models.ApplicationDbContext _context = new MyNIBSS.Core.Models.ApplicationDbContext();

}
@if (TempData["message"] != null)
{
    if (TempData["Message"].ToString() == "Success")
    {
    <div class="alert alert-success">
        <p>@TempData["Message"] <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>

    </div>

    }
}
@{
    if (Session["role"].ToString() == "Admin")
    { <p>
            @Html.ActionLink("Add a new Customer Account", "Create")
        </p>
        <p>
            @Html.ActionLink("View All Loan Accounts", "ViewLoanAccount")
        </p>
    }

}

<table class="table table-hover table-responsive table-condensed" id="custacct">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.acctName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.acctNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.acctbalance)
            </th>

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.acctName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.acctNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=> item.InstitutionCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.accType)
                </td>
                <td>
                    @item.acctbalance.ToString("N02")
                </td>
                <td>

                    @{
                        MyNIBSS.Core.Models.CustomerAccount customerAccount = _context.CustomerAccounts.Find(item.id);
                        if (Session["role"].ToString() == "Admin")
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.id })
                            <span> &nbsp;| &nbsp;</span>
                            @Html.ActionLink("Details", "Details", new { id = item.id })
                            <span> &nbsp;| &nbsp;</span>


                            if (customerAccount.status == "Opened")
                            {
                                @Html.ActionLink("Close Account", "Close", new { id = item.id })
                                <span> &nbsp;| &nbsp;</span>
                            }
                            else
                            {
                                @Html.ActionLink("Open Account", "Open", new { id = item.id })
                            }
                        }
                    }
                     </td>
            </tr>
        }
    </tbody>
</table>
@section ViewSpecificJavascript
    {
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $(".alert").fadeOut(100, null);
        },
            3000);
    });
    $("#custacct").dataTable();

</script>

}
