@model IEnumerable<MyNIBSS.Core.Models.Node>
@{
    ViewBag.Title = "View Node";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div>
    <p>
        @Html.ActionLink("Add Node", "Create")
    </p>
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Port)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HostName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IPAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Port)
                </td>
                <td>
                    @Html.ActionLink("Edit Node", "Edit", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>
